<div class="container">
    <div class="table-wrap">
        <table class="table table-responsive table-borderless">
            <thead>
                <th>&nbsp;</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>

            </thead>
            <tbody>
                {{#each products}}
                <tr class="align-middle alert border-bottom" role="alert">
                    <td class="text-center"> <img class="pic" width=80 src={{this.image_url}} alt=""> </td>
                    <td>
                        <div>
                            <p class="m-0 fw-bold">{{this.name}}</p>
                            <p class="m-0 text-muted">Product description</p>
                        </div>
                    </td>
                    <td>
                        <div class="fw-600">${{this.price}}</div>
                    </td>
                    <td class="d-">{{this.quantity}}</td>
                </tr>                
                {{/each}}
                

            </tbody>
        </table>
    </div>
</div>

