logout partial:
<div class="border mb-4 p-3">
{{> logout }}
</div>
<img src="/assets/images/Bismuth-Bodega-Logo.png"></img>
<h1>Bismuth Bodega</h1>
<hr/>
transaction form partial:
<div class="border mb-4 p-3">
    {{> transaction-form user_id=user_id}}
</div>

singup partial:
<div class="border mb-4 p-3">
    {{>signup}}
</div>

<hr>
products:
<div class="border mb-4 p-3">
{{> products-view }}
</div>